<section class='tab {{tabs.projects.cssClass}} {{tabs.projects.id}}' data-tab='{{tabs.projects.id}}'
    data-group='{{tabs.projects.group}}'>
    
    <div class="coming-soon-container">
        <div class="coming-soon-content">
            <div class="coming-soon-icon">
                <i class="fa-solid fa-hammer"></i>
            </div>
            <h2 class="coming-soon-title">Projects Coming Soon</h2>
            <p class="coming-soon-text">This feature is currently under development and will be available in a future update.</p>
            <div class="coming-soon-decoration">
                <i class="fa-solid fa-wrench"></i>
                <i class="fa-solid fa-screwdriver-wrench"></i>
                <i class="fa-solid fa-gears"></i>
            </div>
        </div>
    </div>
    
</section>